*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #e4e4e4;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg);
  font-family: monospace;
}

header {
  background-color: white;
  font-size: 1.5rem;
  box-shadow: 0 5px 5px gray;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header li {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  padding: 0.5rem;
  margin: 1rem;
}

header li:hover,
li.selected {
  border-bottom: 5px solid black;
  margin-bottom: calc(1rem - 5px);
  border-radius: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a i {
  transition: transform 300ms ease-in-out;
}

footer a:hover i {
  transform: rotateX(360deg) rotateY(360deg) scale(1.2);
}

.legend th {
  text-align: left;
}

.legend th:not(:last-child) {
  border-right: 2px solid gray;
}
